<section class="card">
  <a href="/thread/{{id}}">
    <header>
      <h1>HI</h1>
      {{title}}
      <p>Posted by {{user.username}} on {{createdAt}}</p>
      <p>{{threads}}</p>
    </header>
    <p>{{text}}</p>
  </a>
</section>